<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <a href="/" class="logo">
        <img src="./../../assets/inspire_logo.png" alt="logo-inspire" />
      </a>
      <p class="footer-slogan">
        Construim următoarea generație de Ingineri Software
      </p>
    </div>
    <div class="footer-right">
      <p>
        Email:
        <a href="mailto:barbu.silviu92@gmail.com">barbu.silviu92@gmail.com</a>
      </p>
      <p>Telefon: <a href="tel:+40732087298">0732 087 298</a></p>
      <p>Adresă: Strada Câmpului 5, Râmnicu Vâlcea, 240627</p>
    </div>
  </div>
  <div class="footer-credits">
    <p>
      Made with <span class="heart">&hearts;</span> by
      <a href="https://skillview.ro" target="_blank">Skillview</a>
    </p>
  </div>
</footer>
