<nav class="navbar navbar-expand-lg sticky-top">
  <div class="slogan">
    <a href="/" class="logo">
      <img src="./../../assets/inspire_logo.png" alt="logo-inspire" />
    </a>
    <p>Construim următoarea generație de Ingineri Software</p>
  </div>

  <button class="navbar-toggler" (click)="toggleMenu()">menu</button>
  <div class="navbar-menu" [ngClass]="{ 'is-active': isMenuActive }">
    <a class="navbar-item" href="#hero">Acasa</a>
    <a class="navbar-item" href="#courses">Cursuri</a>
    <a class="navbar-item" href="#about">Despre Noi</a>
  </div>
</nav>
