<nav class="navbar navbar-expand-lg sticky-top">
  <div class="slogan">
    <h1>Inspire</h1>
    <p>Construim următoarea generație de Ingineri Software</p>
  </div>

  <div class="navbar-brand">
    <a href="/" class="logo">
      <p>InspireLogo</p>
      <!-- <img src="./../../../assets/logo.jpg" alt="logo-2pe2" /> -->
    </a>
  </div>
  <button class="navbar-toggler" (click)="toggleMenu()">menu</button>
  <div class="navbar-menu" [ngClass]="{ 'is-active': isMenuActive }">
    <a class="navbar-item" href="#hero">Acasa</a>
    <a class="navbar-item" href="#courses">Cursuri</a>
    <a class="navbar-item" href="#about">Despre Noi</a>
  </div>
</nav>
