<section class="hero dark-hero">
  <div class="hero-content">
    <p class="hero-subtitle">
      <span class="highlight">Inspire</span> este o academie locală din
      <strong>Râmnicu Vâlcea</strong>, dedicată elevilor din clasele
      <strong>8-12</strong>
      care vor să pășească cu încredere în lumea
      <span class="highlight">tehnologiei</span>.
    </p>

    <div class="hero-text-container">
      <p class="hero-text">
        Fondatorul <strong>Academiei Inspire </strong>,
        <span class="highlight">Silviu Barbu</span>, este
        <strong>Inginer Software cu peste 4 ani de experiență</strong> în
        industrie.<br /><br />A contribuit la proiecte internaționale de
        amploare, inclusiv pentru <span class="highlight">BMW</span>, dar și
        pentru proiecte relevante la nivelul
        <span class="highlight">Uniunii Europene</span>. De asemenea, a lucrat
        la companii de renume precum <span class="highlight">Gameloft</span>,
        <span class="highlight">Tremend (Publicis Sapient)</span> și este în
        prezent parte din echipa <span class="highlight">Accenture</span>.
      </p>

      <p class="hero-text">
        Silviu este absolvent al
        <span class="highlight">Facultății de Automatică și Calculatoare</span>
        din cadrul
        <span class="highlight">Universității Politehnica București</span>, una
        dintre cele mai prestigioase instituții tehnice din România.
        <br /><br />A început studiile universitare la vârsta de 25 de ani,
        demonstrând că
        <strong>pasiunea și determinarea nu au termen-limită</strong>.
      </p>

      <p class="hero-text">
        Acum, transformă această experiență într-o misiune personală:
        <strong>
          să ofere tinerilor oportunitatea de a începe mai devreme, mai bine
          pregătiți și mai încrezători </strong
        >. <br /><br />
        <span class="highlight">Inspire</span>, educația este
        <span class="highlight">practică</span>,
        <span class="highlight">inspirațională</span> și orientată spre
        <span class="highlight">viitor</span>.
      </p>

      <p class="hero-text">
        <strong>Cursurile noastre sunt susținute în mod FIZIC </strong>, în
        sălile academiei, pentru a asigura o învățare interactivă și
        personalizată.
        <br />
        <br />Credem în <span class="highlight">interacțiunea umană</span>, în
        <span class="highlight">feedback-ul instant</span> și în
        <span class="highlight">puterea comunității</span> de a susține procesul
        de învățare.
      </p>
    </div>

    <div class="button-container">
      <a href="#courses" class="hero-button">Vezi cursurile</a>
    </div>
  </div>
</section>
