<section class="hero dark-hero">
  <div class="hero-content">
    <p class="hero-subtitle">
      <span class="highlight">Inspire</span> este o academie locală din
      <strong>Râmnicu Vâlcea</strong>, dedicată elevilor din clasele
      <strong>9-12</strong>
      care vor să pășească cu încredere în lumea
      <span class="highlight">tehnologiei</span> si sa devina
      <span class="highlight">Ingineri Software</span>
    </p>

    <div class="hero-text-container">
      <p class="hero-text">
        Fondatorul <strong>Academiei Inspire</strong>,
        <span class="highlight">Silviu Barbu</span>, va fi și
        <strong>lectorul și mentorul principal</strong> al acestui program.
        <br /><br />
        Silviu este
        <strong>Inginer Software cu peste 5 ani de experiență</strong> în
        industrie, cu contribuții importante în proiecte internaționale pentru
        <span class="highlight">BMW</span> și
        <span class="highlight">Uniunea Europeană</span>. A colaborat cu
        companii de renume, iar în prezent face parte din echipa
        <span class="highlight">Accenture</span>.<br /><br />
        Poți afla mai multe despre experiența sa aici:
        <a href="https://www.skillview.ro/about" target="_blank"
          >CV Skillview</a
        >
        |
        <a href="https://www.linkedin.com/in/skillview/" target="_blank"
          >LinkedIn</a
        >
      </p>

      <p class="hero-text">
        Silviu este absolvent al
        <span class="highlight">Facultății de Automatică și Calculatoare</span>
        din cadrul
        <span class="highlight">Universității Politehnica București</span>, una
        dintre cele mai prestigioase instituții tehnice din România.
        <br /><br />A început aceste studiile universitare, la vârsta de 25 de
        ani, demonstrând că
        <strong>pasiunea și determinarea nu au termen-limită</strong>.
      </p>

      <p class="hero-text">
        Acum, transformă această experiență într-o misiune personală:
        <strong>
          să ofere tinerilor oportunitatea de a începe mai devreme, mai bine
          pregătiți și mai încrezători </strong
        >. <br /><br />
        <span class="highlight">Inspire</span>, educația este
        <span class="highlight">practică</span>,
        <span class="highlight">inspirațională</span> și orientată spre
        <span class="highlight">viitor</span>.
      </p>

      <p class="hero-text">
        <strong>Cursurile noastre sunt susținute în mod FIZIC </strong>, în
        sălile academiei, pentru a asigura o învățare interactivă și
        personalizată.
        <br />
        <br />Credem în <span class="highlight">interacțiunea umană</span>, în
        <span class="highlight">feedback-ul instant</span> și în
        <span class="highlight">puterea comunității</span> de a susține procesul
        de învățare.
      </p>
    </div>

    <div class="button-container">
      <a href="#courses" class="hero-button">Vezi cursurile</a>
    </div>
  </div>
</section>
