<section class="hero dark-hero">
  <div class="hero-content">
    <p class="hero-subtitle">
      <span class="highlight">Inspire</span> este o academie locală din
      <strong>Râmnicu Vâlcea</strong>, dedicată elevilor din clasele
      <strong>9-12</strong>
      care vor să pășească cu încredere în lumea
      <span class="highlight">tehnologiei</span> si sa devina
      <span class="highlight">Ingineri Software</span>
    </p>
    <!-- Social Media -->
    <div class="socials my-4">
      <a
        href="https://www.facebook.com/profile.php?id=61578219304353"
        target="_blank"
        aria-label="Facebook"
      >
        <i class="bi bi-facebook"></i>
      </a>
      <a
        href="https://www.instagram.com/academia_inspire/"
        target="_blank"
        aria-label="Instagram"
      >
        <i class="bi bi-instagram"></i>
      </a>
      <a
        href="https://www.tiktok.com/@academia.inspire"
        target="_blank"
        aria-label="tikTok"
      >
        <i class="bi bi-tiktok"></i>
      </a>
    </div>

    <div class="hero-text-container">
      <p class="hero-text">
        Fondatorul <strong>Academiei Inspire</strong>,
        <span class="highlight">Silviu Barbu</span>, va fi și
        <strong>lectorul și mentorul principal</strong> al acestui program.
        <br /><br />
        Silviu este
        <strong>Inginer Software cu peste 5 ani de experiență</strong> în
        industrie, cu contribuții importante în proiecte internaționale pentru
        <span class="highlight">BMW</span> și
        <span class="highlight">Uniunea Europeană</span>. A colaborat cu
        companii de renume, iar în prezent face parte din echipa
        <span class="highlight">Accenture</span>.<br /><br />
        Poți afla mai multe despre experiența sa aici:
        <a href="https://www.skillview.ro/about" target="_blank"
          >CV Skillview</a
        >
        |
        <a href="https://www.linkedin.com/in/skillview/" target="_blank"
          >LinkedIn</a
        >
      </p>

      <p class="hero-text">
        <strong>Cursurile noastre sunt susținute în mod FIZIC </strong>, în
        sălile academiei, pentru a asigura o învățare interactivă și
        personalizată.
        <br />
        <br />Credem în <span class="highlight">interacțiunea umană</span>, în
        <span class="highlight">feedback-ul instant</span> și în
        <span class="highlight">puterea comunității</span> de a susține procesul
        de învățare.
      </p>

      <!-- Misiunea Noastră -->
      <div class="about-card">
        <div class="card-header">
          <h3 class="about-title">Misiunea Noastră</h3>
        </div>
        <div class="card-body">
          <p class="about-text">
            Misiunea noastră este să
            <span class="highlight">inspirăm</span> copiii și adolescenții să
            înțeleagă
            <span class="highlight"
              >cum arată proiectele reale de dezvoltare software</span
            >, <span class="highlight">cum se desfășoară acestea</span> și
            <span class="highlight">cum sunt aplicate metodologiile Agile</span>
            în echipele profesioniste. Le arătăm ce
            <span class="highlight">roluri</span> există într-o echipă reală și
            cum colaborează membrii acesteia pentru a construi
            <span class="highlight">produse software</span>
            care contează.
          </p>
        </div>
      </div>
      <!-- Valorile Noastre -->
      <div class="about-card">
        <div class="card-header">
          <h3 class="about-title">Valorile Noastre</h3>
        </div>
        <div class="card-body">
          <div class="values-grid">
            <div class="value-item">
              <span class="value-name">Educație de calitate</span>
              <p class="value-description">
                Ne bazăm pe metode interactive, orientate spre practică.
              </p>
            </div>
            <div class="value-item">
              <span class="value-name">Dezvoltare personală</span>
              <p class="value-description">
                Încurajăm autonomia, gândirea critică și încrederea în sine.
              </p>
            </div>
            <div class="value-item">
              <span class="value-name">Inovație</span>
              <p class="value-description">
                Folosim cele mai noi tehnologii și abordări educaționale.
              </p>
            </div>
            <div class="value-item">
              <span class="value-name">Comunitate</span>
              <p class="value-description">
                Construim un mediu de sprijin și colaborare unde fiecare tânăr
                poate crește și învăța împreună cu alții.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="button-container">
      <a href="#courses" class="hero-button">Vezi cursurile</a>
    </div>
  </div>
</section>
